# DATABASE — Neon PostgreSQL
# Dapatkan dari: https://console.neon.tech
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# NEXT AUTH
NEXTAUTH_SECRET=your-random-secret
NEXTAUTH_URL=http://localhost:3000