# DATABASE — Neon PostgreSQL (Pooler URL)
DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
# DATABASE — Neon PostgreSQL (Direct URL)
DIRECT_URL="postgresql://USER:PASSWORD@HOST.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

PORT=5000
FRONTEND_URL=http://localhost:3000
